*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  font-family: 'Permanent Marker', cursive;
  background-color: #474747;
  color:#DBE4EE;
  height: 100%;
  
}
header h1{
  color:black;
}
.game-title{
  background-color:#DBE4EE;
  
  
}
.game-title h1{
  padding:8px 0;
  text-align: center;
}
.game-play{
  flex:1;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  margin-top: 32px;
  
  
}
.result{
  margin-top: 32px;
  font-size:32px;
}
.scoreboard{
  display:flex;
  justify-content: space-between;
  gap:32px;
  font-size: 26px;
  border:5px solid white;
  padding:16px;
  border-radius: 8px;

}
.scoreboard:hover{
  background-color:#757070;
}
#about{
  text-decoration: none;
  color: inherit;
  border: none;
  font-size:20px;
  padding: 0.5rem;
  border-radius: 8px;
}
#about:active,
#about:hover,
#about:focus{
  background-color: #9caabb;
}


.choices{
  margin:32px 0 16px;
  display:flex;
  justify-content: space-around;
}
.badge{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.choice{
  border: 3px solid white;
  margin-right:32px;
  background-color:#81A4CD;
  border-radius: 50%;
  padding:16px;
}
.choice:hover{
  background-color: #9caabb;
  cursor: pointer;
}
.pick-weapon{
  margin-bottom: 32px;
  font-size:24px;
  
}
.profile-img{
  width:2rem;
  height: auto;
}
footer{
  
  display: flex;
  background-color:#DBE4EE;
  justify-content:center;
  color:black; 
  align-items: center;
  gap: 2rem;
}
footer p{
  font-size:20px;
  padding:12px;
}


